.wallet h3 {
  font-size: 22px;
}

.wallet .accordion-button {
  padding: 16px 15px;
  text-transform: capitalize;
}

.wallet .accordion-button img {
  width: 30px !important;
  height: 30px !important;
}

.wallet-content {
  padding-bottom: 8px;
}

.currency {
  background: linear-gradient(140deg, var(--main-bg-color) 0%, var(--main-bg-color-secondary) 100%);
}

.currency .box {
  width: 25%;
}

.currency .box img {
  width: 40px;
  filter: grayscale(60%);
}
