.wallet {}

.wallet h3 {
  font-size: 22px;
}

.wallet h4 {
  font-size: 16px;
}

.wallet img {
  width: 25px;
}

.tourquese {
  color: var(--normal-tourquese);
}

.wallet .label {
  font-weight: normal;
  font-size: 12px;
}

.currency {
  position: relative;
  margin: 0 0 6px;
  padding: 10px 0 2px;
  background-color: var(--main-bg-color);
}

.currency .coin {
  width: 35px;
}

.wallet-option {
  padding: 25px 15px 10px 0;
}

.prices {
  background-color: var(--main-bg-color);
  padding: 8px 0 11px;
  border-radius: 5px;
}

.prices label {
  margin: 0 10px;
}

.prices .coin {
  width: 18px;
  margin-right: 4px;
}
