.order-record {
  padding: 30px 25px;
  margin: 2px 0;
  background: linear-gradient(140deg, var(--main-bg-color) 0%, var(--main-bg-color-secondary) 100%);
}

.order-record p {
  text-transform: capitalize;
  font-weight: 500;
  margin: 0;
}

.order-record .info-text {
  font-weight: 300;
  margin: 0;
}

.timestamp {
  text-align: right !important;
}

.order-record .main-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
