.prices {
  padding: 7px 12px;
  background: linear-gradient(140deg, var(--main-bg-color) 0%, var(--main-bg-color-secondary) 100%);
}

.prices .box {
  width: 31%;
}

.prices .box p {
  text-align: right;
  font-size: 14px;
  font-weight: 700;
  margin: 0;
}

.prices .box .positive {
  font-weight: bold;
  color: var(--positive);
}

.prices .box .negative {
  font-weight: bold;
  color: var(--alert);
}
