:root {
  --main-bg-color: #c8cde0;
  --main-bg-color-secondary: #e3e6ef;
  --main-blue: #003955;
  --info-color: #576ab6;
  --white: #fff;

  --positive: #00B83B;
  --alert: #B30024;
}

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Ubuntu:wght@300;400;500;700&display=swap');

* {
  transition: all 0.25s;
}

body {
  color: var(--main-blue);
  background: linear-gradient(140deg, var(--main-bg-color) 0%, var(--main-bg-color-secondary) 100%);
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#root {
  width: 100%;
  max-width: 340px;
}

#content {
  width: 100%;
  height: 66vh;
  margin: 18px 0;
}

.view-container {
  height: 100%;
  overflow-y: scroll;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.positive {
  padding: 0 !important;
  color: var(--positive);
}

.alert {
  padding: 0 !important;
  color: var(--alert);
}

/* Buttons and Inputs */
input,
select {
  width: 100%;
  padding: 10px;
  text-align: center;
  border: 0;
  border-radius: 5px;
  color: var(--main-blue);
  background-color: var(--main-bg-color-secondary);
}

.input::placeholder {
  color: var(--main-blue);
}


button {
  font-weight: 500;
  border: 0;
  background-color: var(--main-bg-color);
}

.star {
  cursor: pointer;
  transition: all 0.5s;
}

.star:hover {
  filter: drop-shadow(0 5px 20px var(--main-bg-color-secondary));
}

.main-button {
  font-weight: bold;
  width: 100%;
  height: 55px;
  color: var(--main-blue);
  border-radius: 5px;
  transition: all 0.5s;
  background-color: var(--main-bg-color);
  cursor: pointer;
}

.main-button:hover,
.selected {
  color: var(--main-blue);
  background-color: var(--main-bg-color-secondary);
}

.main-button img {
  width: 25px;
  margin-right: 10px;
}

.info-text {
  text-align: center;
  font-size: 12px;
  margin: 10px;
  color: var(--info-color);
}

.accordion-button:not(.collapsed) {
  color: var(--main-blue) !important;
  background-color: var(--main-bg-color-secondary) !important;
  box-shadow: unset !important;
}

.accordion-button:focus {
  z-index: 3;
  border-color: unset !important;
  outline: 0;
  box-shadow: unset !important;
}

/* Error Plugin Styles */
#__react-alert__ div div div {
  width: 100% !important;
  color: var(--main-bg-color-secondary) !important;
  background-color: var(--main-blue) !important;
  font-family: 'Quicksand', sans-serif !important;
  text-transform: initial !important;
  font-weight: bold !important;
  margin-right: auto !important;
  margin-left: auto !important;
  padding: 20px !important;
  border-radius: 5px;
}

#__react-alert__ div div div svg {
  stroke: var(--main-bg-color-secondary) !important;
}

#__react-alert__ div div div svg:hover {
  stroke: var(--info-color) !important;
}
