:root {
  --main-bg-color: #172d41;
  --main-bg-color-secondary: #1f5b72;
  --main-blue: #46B3C3;
  --info-color: #97d3da;
  --white: #d9edf1;
  --positive: #46B3C3;
  --alert: #ff0000;
}

@import url('https://fonts.googleapis.com/css?family=Oxanium:400,500,600,700,800|Poppins:400,400i,500,500i,600,600i,700,700i&display=swap');

* {
  transition: all 0.25s;
}

body {
  height: 100vh;
  color: var(--white);
  background: rgb(23,45,65);
  background: linear-gradient(163deg, var(--main-bg-color) 0%, var(--main-bg-color-secondary) 100%);
  font-family: 'Oxanium', sans-serif;
  font-weight: 600;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  padding: 50px 0 80px;
  background-position: center;
  background-size: cover;
}

body strong {
  font-weight: 500 !important;
}

#content {
  width: 100%;
  max-width: 425px;
  margin: auto;
  padding: 50px 15px 110px;
}

.view-container {
  height: 100%;
  overflow-y: scroll;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.positive {
  padding: 0 !important;
  color: var(--positive);
}

.alert {
  padding: 0 !important;
  color: var(--alert);
}

/* Buttons and Inputs */
input,
select {
  width: 100%;
  height: 60px;
  padding: 10px;
  text-align: center;
  border: 0;
  border-radius: 5px;
  color: var(--white);
  background-color: var(--main-bg-color);
}

.input::placeholder {
  color: var(--main-blue);
}


button {
  font-weight: 500;
  border: 0;
  background-color: var(--main-bg-color-secondary);
}

.star {
  cursor: pointer;
  transition: all 0.5s;
}

.star:hover {
  filter: drop-shadow(0 5px 20px var(--main-bg-color-secondary));
}

.main-button {
  width: 100%;
  height: 60px;
  font-weight: bold;
  color: var(--white);
  border-radius: 5px;
  transition: all 0.3s;
  background-color: var(--main-bg-color);
  border-bottom: 5px solid var(--main-bg-color-secondary);
  cursor: pointer;
}

body .main-button:hover,
body .selected {
  color: var(--white);
  background-color: var(--main-bg-color-secondary);
}

.main-button img {
  margin-right: 10px;
}

.info-text {
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  margin: 14px;
  color: var(--info-color);
}

.accordion-button:hover {
  z-index: 0 !important;
}

.accordion-button:not(.collapsed) {
  color: var(--white) !important;
  background-color: var(--main-bg-color-secondary) !important;
  box-shadow: unset !important;
}

.accordion-button:focus {
  z-index: 0;
  border-color: unset !important;
  outline: 0;
  box-shadow: unset !important;
}

/* Title  */
.section-title {
  font-family: 'Oxanium', sans-serif;
}

.section-title h2 {
  font-size: 36px;
  font-weight: 800;
  margin-bottom: 0;
  line-height: 1;
  letter-spacing: -2px;
}

.section-title h2 span {
  font-size: 36px;
  color: var(--main-blue);
}

.section-title > span {
  display: block;
  font-family: 'Poppins', sans-serif !important;
  line-height: 1;
  font-size: 14px;
  font-weight: 700;
  color: var(--info-color);
  margin-bottom: 15px;
  text-transform: uppercase;
}

.title-style-two {
  padding-bottom: 35px;
  position: relative;
  margin: 30px auto 40px;
}

.title-style-two::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: url('./assets/img/title_bar.png');
  width: 270px;
  height: 13px;
  background-repeat: no-repeat;
}

.title-style-two.text-center::before {
  right: 0;
  margin: 0 auto;
}

/* Error Plugin Styles */
#__react-alert__ div div div {
  width: 100% !important;
  color: var(--main-bg-color-secondary) !important;
  background-color: var(--main-blue) !important;
  font-family: 'Poppins', sans-serif !important;
  text-transform: initial !important;
  font-weight: 500 !important;
  margin-right: auto !important;
  margin-left: auto !important;
  padding: 20px !important;
  border-radius: 5px;
}

#__react-alert__ div div div svg {
  stroke: var(--main-bg-color-secondary) !important;
}

#__react-alert__ div div div svg:hover {
  stroke: var(--info-color) !important;
}
