:root {
  --lighter-gray: #ADCAD9;
  --light-gray: #7A8F99;
  --main-gray: #3D474C;
  --dark-gray: #475359;
  --light-gray: #879c84;
  --darker-gray: #293033;
}

* {
  transition: all 0.25s;
}

body {
  color: var(--lighter-gray);
  background-color: var(--darker-gray);
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#content {
  width: 100%;
  max-width: 340px;
  height: 66vh;
  margin: 15px 0;
}
