.navbar {
  width: 100%;
  padding: 20px 10px 15px;
  background-color: var(--main-bg-color-secondary);
  border-radius: 10px;
  margin: auto;
}

.navbar a {
  color: var(--main-blue);
  font-size: 12px;
  margin: 0 auto;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  transition: all 1s;
}

.navbar img {
  display: block;
  width: 40px;
  margin: 0 auto 10px;
  border-radius: 5px;
}

.navbar.disabled a {
  filter: grayscale(80%)
}