.connect-wallet {
  position: relative;
  overflow-y: scroll;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.connect-wallet .main-icon {
  width: 80%;
  border-radius: 10px;
  filter: drop-shadow(0 0 1px var(--info-color));
  margin-bottom: 46px;
}

.connect-wallet .main-button {
  position: absolute;
  bottom: 0;
}

.connect-wallet h1 {
  font-size: 28px;
  text-align: center;
  filter: drop-shadow(0 1px 1px var(--info-color));
}

.connect-wallet .info-text {
  font-weight: 500;
}
