.connect-wallet {
  position: relative;
  overflow-y: scroll;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.connect-wallet .main-icon {
  width: 70%;
  object-fit: cover;
  border: 6px solid var(--main-blue);
  border-radius: 50%;
  margin-bottom: 18px;
}

.connect-wallet h1 {
  font-size: 28px;
  text-align: center;
}

.connect-wallet .info-text {
  font-weight: 500;
}
