.header {
  width: 100%;
  height: 55px;
  padding: 10px 15px;
  background-color: var(--main-bg-color);
  border-radius: 5px;
  margin: auto;
}

.header .wallet-info {
  font-size: 12px;
  border-radius: 5px;
}

.header .wallet-info p {
  font-size: 15px;
  font-weight: bold;
  margin: 0 0 0 8px;
}

.header .wallet-info div {
  border-radius: 5px;
}

.header .wallet-info .wallet-logout {
  width: 20%;
  border-radius: 15px 0 0 15px;
  margin-left: -2px;
  transition: all 0.5s;
  cursor: pointer;
}

.header .wallet-info img {
  width: 30px;
  border-radius: 5px;
}

.header .side-options img {
  width: 30px;
  height: 30px;
  position: relative;
  filter: grayscale(50%);
}

.header .news-icon {
  margin-left: 18px;
}
